BasedOnStyle: Microsoft
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true
AllowAllParametersOfDeclarationOnNextLine: false
BreakInheritanceList: BeforeColon
BreakConstructorInitializers: BeforeColon
BinPackArguments: false
BinPackParameters: false
