## for namespace in entdlr.namespaces
## for enum in namespace.enums
enum {{namespace.name}}_{{enum.name}}
{
## for e in enum.values
    {{namespace.name}}_{{e.name}} = {{e.value}},
## endfor
};

## endfor

## for struct in namespace.structs
struct {{namespace.name}}_{{struct.name}}
{
## for field in struct.fields
## if field.isArray == false
    {{field.type}} {{field.name}};
## endif
## if field.isArray == true and field.arraySize > 0
    {{field.type}} {{field.name}}[{{field.arraySize}}];
## endif
## endfor
};

## endfor
## endfor
