## for namespace in entdlr.namespaces
{{namespace.name}}
## for enum in namespace.enums
    {{enum.name}} : enum ({{enum.type}})
## for e in enum.values
        {{e.name}} = {{e.value}}
## endfor
## endfor
## for union in namespace.unions
    {{union.name}} : union
## for t in union.types
## if t.isArray == false
        {{t.name}}
## endif
## if t.isArray == true and t.arraySize == 0
        {{t.name}}[]
## endif
## if t.isArray == true and t.arraySize > 0
        {{t.name}}[{{t.arraySize}}]
## endif
## endfor
## endfor
## for struct in namespace.structs
    {{struct.name}} : struct
## for field in struct.fields
## if field.isArray == false
        {{field.name}} : {{field.type}}
## endif
## if field.isArray == true and field.arraySize == 0
        {{field.name}} : {{field.type}}[]
## endif
## if field.isArray == true and field.arraySize > 0
        {{field.name}} : {{field.type}}[{{field.arraySize}}]
## endif
## endfor
## endfor
## endfor
##
