## for namespace in entdlr.namespaces
{{ do_something(namespace.name) }}
{{ do_more_things(namespace.line, namespace.column) }}
{{ log("warning", "asdf") }}
{{ log("error", "fdsa") }}
{{ float_to_int(increment_state()) }}
{{ float_to_uint(increment_state()) }}
## endfor
