## for namespace in fbs.namespaces
## for enum in namespace.enums
enum {{namespace.name}}_{{enum.name}} : {{enum.type}}
{
## for e in enum.values
    {{namespace.name}}_{{enum.name}}_{{upper(e.name)}} = {{e.value}},
## endfor
};

## endfor

## for union in namespace.unions
union {{namespace.name}}_{{union.name}}
{
## for t in union.types
## if t.isArray == false
    {{t.name}},
## endif
## if t.isArray == true and t.arraySize > 0
    {{t.name}}[{{t.arraySize}}],
## endif
## endfor
};
## endfor

## for struct in namespace.structs
struct {{namespace.name}}_{{struct.name}}
{
## for field in struct.fields
## if field.isArray == false
    {{field.type}} {{field.name}};
## endif
## if field.isArray == true and field.arraySize > 0
    {{field.type}} {{field.name}}[{{field.arraySize}}];
## endif
## endfor
};

## endfor
## endfor
