## for include in fbs.includes
include {{include.name}}
## for namespace in include.namespaces
    {{namespace.name}}
## endfor
## endfor

## for namespace in fbs.namespaces
{{namespace.name}}
## for enum in namespace.enums
    /// enum : {{enum.comment}}
      /// {{enum.documentation.description}}
## for tag in enum.documentation.tags
        /// {{tag.name}}: {{tag.content}}
## endfor
    {{enum.name}} : enum ({{enum.type}})
## for e in enum.values
        {{e.name}} = {{e.value}}
## endfor
## endfor
## for union in namespace.unions
    /// union : {{union.comment}}
      /// {{union.documentation.description}}
## for tag in union.documentation.tags
        /// {{tag.name}}: {{tag.content}}
## endfor
    {{union.name}} : union
## for t in union.types
## if t.isArray == false
        {{t.name}}
## endif
## if t.isArray == true and t.arraySize == 0
        {{t.name}}[]
## endif
## if t.isArray == true and t.arraySize > 0
        {{t.name}}[{{t.arraySize}}]
## endif
## endfor
## endfor
## for struct in namespace.structs
    /// struct : {{struct.comment}}
      /// {{struct.documentation.description}}
## for tag in struct.documentation.tags
        /// {{tag.name}}: {{tag.content}}
## endfor
    {{struct.name}} : struct
## for field in struct.fields
## if field.isArray == false
        {{field.name}} : {{field.type}} /// {{field.comment}}
## endif
## if field.isArray == true and field.arraySize == 0
        {{field.name}} : {{field.type}}[] /// {{field.comment}}
## endif
## if field.isArray == true and field.arraySize > 0
        {{field.name}} : {{field.type}}[{{field.arraySize}}] /// {{field.comment}}
## endif
## for name, attribute in field.attributes
## if attribute.isString == false and attribute.isNumber == false
            @{{attribute.name}}
## endif
## if attribute.isString == true
            @{{attribute.name}} : {{attribute.string}}
## endif
## if attribute.isNumber == true
            @{{attribute.name}} : {{attribute.number}}
## endif
## if attribute.isInteger == true
            @{{attribute.name}} : {{attribute.integer}}
## endif
## endfor
## endfor

## for method in struct.methods
        /// method : {{method.comment}}
## if method.isStatic == true
        static {{method.name}} : {{method.returnValue.type}}
## endif
## if method.isStatic == false
        {{method.name}} : {{method.returnValue.type}}
## endif
## for name, attribute in method.attributes
## if attribute.isString == false and attribute.isNumber == false
            @{{attribute.name}}
## endif
## if attribute.isString == true
            @{{attribute.name}} : {{attribute.string}}
## endif
## if attribute.isNumber == true
            @{{attribute.name}} : {{attribute.number}}
## endif
## if attribute.isInteger == true
            @{{attribute.name}} : {{attribute.integer}}
## endif
## endfor
## for parameter in method.parameters
            {{parameter.name}} : {% if parameter.in == true %}in {% endif %}{% if parameter.out == true %}out {% endif %}{{parameter.type}}
## endfor
## endfor
## endfor
## for interface in namespace.interfaces
    /// interface : {{interface.comment}}
      /// {{interface.documentation.description}}
## for tag in interface.documentation.tags
        /// {{tag.name}}: {{tag.content}}
## endfor
    {{interface.name}} : interface
## for name, attribute in interface.attributes
## if attribute.isString == false and attribute.isNumber == false
        @{{attribute.name}}
## endif
## if attribute.isString == true
        @{{attribute.name}} : {{attribute.string}}
## endif
## if attribute.isNumber == true
        @{{attribute.name}} : {{attribute.number}}
## endif
## if attribute.isInteger == true
        @{{attribute.name}} : {{attribute.integer}}
## endif
## endfor
## for method in interface.methods
        /// method : {{method.comment}}
## if method.isStatic == true
        static {{method.name}} : {{method.returnValue.type}}
## endif
## if method.isStatic == false
        {{method.name}} : {{method.returnValue.type}}
## endif
## for name, attribute in method.attributes
## if attribute.isString == false and attribute.isNumber == false
            @{{attribute.name}}
## endif
## if attribute.isString == true
            @{{attribute.name}} : {{attribute.string}}
## endif
## if attribute.isNumber == true
            @{{attribute.name}} : {{attribute.number}}
## endif
## if attribute.isInteger == true
            @{{attribute.name}} : {{attribute.integer}}
## endif
## endfor
## for parameter in method.parameters
            {{parameter.name}} : {% if parameter.in == true %}in {% endif %}{% if parameter.out == true %}out {% endif %}{{parameter.type}}
## endfor
## endfor
## endfor
## for service in namespace.services
    /// service : {{service.comment}}
      /// {{service.documentation.description}}
## for tag in service.documentation.tags
        /// {{tag.name}}: {{tag.content}}
## endfor
    {{service.name}} : service
## for name, attribute in service.attributes
## if attribute.isString == false and attribute.isNumber == false
        @{{attribute.name}}
## endif
## if attribute.isString == true
        @{{attribute.name}} : {{attribute.string}}
## endif
## if attribute.isNumber == true
        @{{attribute.name}} : {{attribute.number}}
## endif
## if attribute.isInteger == true
        @{{attribute.name}} : {{attribute.integer}}
## endif
## endfor
## for component in service.components
        {{component.name}} : {{component.type}} /// {{component.comment}}
## for name, attribute in component.attributes
## if attribute.isString == false and attribute.isNumber == false
            @{{attribute.name}}
## endif
## if attribute.isString == true
            @{{attribute.name}} : {{attribute.string}}
## endif
## if attribute.isNumber == true
            @{{attribute.name}} : {{attribute.number}}
## endif
## if attribute.isInteger == true
            @{{attribute.name}} : {{attribute.integer}}
## endif
## endfor
## endfor
## endfor
## endfor
